$mg-color-primary: #e95713;
$mg-color-secondary: #003674;
$mg-color-danger: #dc3545;
$mg-color-warning: #e95713;
$mg-color-info: #017ffd;

$mg-navbar-style: 'light';

$body-color: #3c3c3d;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
