$theme-colors: (
    "primary": #e95713,
    "secondary": #003674,
    "danger": #dc3545,
    "warning": #e95713,
    "info": #017ffd,
    "light": #e7e7e7
);

$body-color: #3c3c3d;

$default-text-color: white;

@import "node_modules/bootstrap/scss/bootstrap";

.btn-primary {
    color: white;
}

.cursor-pointer {
   cursor: pointer; 
}