$theme-colors: (
    "primary": #e95713,
    "secondary": #003674,
    "danger": #dc3545,
    "warning": #e95713,
    "info": #7c7c7c,
    "light": #e7e7e7,
    "dark": #3c3c3d
);

$body-color: #3c3c3d;

$default-text-color: white;

@import "node_modules/bootstrap/scss/bootstrap";

.btn-primary {
    color: white;
}

.btn-outline-light {
    color: $dark;
}

.cursor-pointer {
   cursor: pointer; 
}