$theme-colors: (
    "primary": #2B50A0,
    "secondary": #2B50A0,

    "primary-text": #1c1d1b,
    "secondary-text": #1c1d1b,
    "login-tittle-text": #1c1d1b,

    "navbar-background": #ECECEC,
    "navbar-text": #1c1d1b,
    "navbar-active-text": #2B50A0,
    "navbar-welcome-text": #1c1d1b,
    "navbar-button-outline": #2B50A0,

    "sort-filter-button-outline": #2B50A0,
    "sort-filter-dropdown-text": #1c1d1b,
    "sort-filter-clear-button-outline": #ED6C90,

    "search-results-text": #1c1d1b,
    "new-request-button-color": #00807D,
    "display-view-button-color": #2B50A0,

    "card-title-text": #1c1d1b,
    "table-header-text": #1c1d1b,
    "table-title-text": #2B50A0,

    "status-badge": #2B50A0,

    "danger": #dc3545,
    "warning": #e95713,
    "success": #00807D,
    "info": #7c7c7c,
    "light": #e7e7e7,
    "dark": #1c1d1b,

    // BBMRI-ERIC Color palette
    "example-1": #003674,
    "example-2": #e95713,
    "example-3": #3c3c3d,
);

$body-color: #3c3c3d;

$default-text-color: white;

@import "node_modules/bootstrap/scss/bootstrap";

body {
    font-family: Calibri, Arial, sans-serif;
}
  
.btn-primary {
    color: white;
}

.btn-outline-light {
    color: $dark;
}

.cursor-pointer {
   cursor: pointer; 
}